<footer class="">
    <div class="text-danger p-5" id="footer1">
        <h2 class="text-center m-2" id="about">Rólunk</h2>
        <h2 class="text-center m-2 p-3 border-4 border-top border-danger">Adj el és vásárolj könnyedén!</h2>
        <div class="d-flex justify-content-center m-2">
            <div id="footer1_1" class="d-flex flex-wrap">
                <ul class="list_none border-start border-danger border-4">
                    <li>Kovács Martin</li>
                    <li>kovacs.martinszikszi-ozd.hu</li>
                </ul>
                <ul class="list_none border-start border-danger border-4">
                    <li>Kovács Ákos</li>
                    <li>kovacs.akosszikszi-ozd.hu</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-danger p-2" id="footer2">
        <div class="d-flex justify-content-around">
            <p class="text-start">AirsoftMarket</p>
            <p class="text-end">Ózd 2025</p>
        </div>
    </div>
</footer>
